:root {
  --chat-height: 400px;
}

.root {
  border: 1px solid #e4e5ea;
  border-radius: 16px;
  margin: auto;
  width: 400px;
  height: var(--chat-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  flex: auto;
  position: relative;
}

.list {
  height: calc(var(--chat-height) - var(--chat-footer-height));
}