.errorContainer {
    position: absolute;
    background: rgba(244, 67, 54, 0.1);
    right: 20px;
    border-radius: 16px;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform .5s;
    padding: 16px;
    gap: 50px;
}
.error {
    color: #f44336;
    margin: 0;
}
.hidden {
    transform: translateX(150%);
}
.actions {
    display: flex;
    height: 24px;
    gap: 16px
}

.action, .action:hover, .action:focus {
    outline: 0;
    background: transparent;
}

.action {
    position: relative;
    color: #f44336;
    font-weight: bold;
    padding: unset;
    font-size: 14px;
}